<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page  <%= "JS content goes here".toUpperCase() %> </h1>  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nihil eum iusto nulla nobis, dolores voluptatibus ut non modi, laborum quidem. Maxime assumenda repudiandae minima earum pariatur corrupti doloribus deleniti.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit accusantium libero omnis rerum aliquid dolore perspiciatis, voluptate alias eveniet saepe eum accusamus quaerat voluptates ea! Saepe rem possimus iste ea?</p>
</body>
</html>
 


